<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080/QuickReturns/Exchange"
          binding="basicHttpBinding"
          contract="QuickReturns.StockTrading.ExchangeServiceClient.ITradeService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>