<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="ExchangeService.TradePerfMon">
        <endpoint address="http://localhost:8000/TradePerfMonService" binding="basicHttpBinding"
          contract="ExchangeService.ITradePerfMonService" />
      </service>
    </services>

  </system.serviceModel>
</configuration>