<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="false" performanceCounters="Off">
      <messageLogging logMalformedMessages="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="tradeServiceBehavior" name="QuickReturns.StockTrading.ExchangeService.TradeService">
        <endpoint address="Exchange" binding="basicHttpBinding" bindingConfiguration=""
          name="basicHttpBinding" contract="QuickReturns.StockTrading.ExchangeService.Contracts.ITradeService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuickReturns" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="tradeServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true"
              includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>